// 覆盖第三方插件back-to-top样式
$blue = #2196f3
.global-ui {
  .go-to-top {
    color $blue
    &:hover {
      color tint($blue,15%)
    }
  }
}

.custom-block.tip {
  background-color: #f3f5f7;
  border-color: $blue !important;
}